lab2/lab2_xmlSchema_Internetas_pusm5.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="edited" type="Edited" />
    <xs:element name="name" type="Name" />

    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Edited">
        <xs:list itemType="xs:date"/>
    </xs:simpleType>
</xs:schema>

<!-- -->
<edited>
    2019-01-04
    2019-02-24
    2019-08-09
</edited>

<name>VU matematikos ir informatikos fakultetas</name>



<!-- <xs:complexType>
    <xs:simpleContent>
        <xs:restriction base="">

        </xs:restriction>
    </xs:simpleContent>
</xs:complexType> -->