lab2/lab2_xmlSchema_Internetas_pusm5.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="city" type="City" />

    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Edited">
        <xs:list itemType="xs:date"/>
    </xs:simpleType>

    <xs:complexType name="NameWithAbr">
        <xs:simpleContent>
            <xs:extension base="Name">
                <xs:attribute name="abr" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Building">
        <xs:sequence>
            <xs:element name="edited" type="Edited" />
            <xs:choice>
                <xs:element name="name" type="Name" />
                <xs:element name="nameWithAbr" type="NameWithAbr" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="City">
        <xs:complexContent>
            <xs:extension base="Microdisctrict">
                <xs:sequence minOccurs="0">
                    <xs:element name="microdisctrict" type="Microdisctrict"/>
                </xs:sequence>
                <xs:attribute name="population" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Microdisctrict">
        <xs:sequence minOccurs="0">
            <xs:element name="street" type="Street" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Street">
        <xs:sequence minOccurs="0">
            <xs:element name="building" type="Building" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
</xs:schema>

<!-- -->
<city name="Vilnius" population="544386">
    <microdisctrict name="Naujamiestis">
        <street name="Naugarduko">
            <building>
                <edited>
                    2019-01-04
                    2019-02-24
                    2019-08-09
                </edited>
            
                <nameWithAbr abr="MIF">VU matematikos ir informatikos fakultetas</nameWithAbr>
            </building>
        </street>
    </microdisctrict>
</city> 
<!-- -->